<div class="row">
  <div class="span0 well text-center"> 
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
      <i class= "icon-arrow-up"></i>
      <%  end  %>
      <br>
      <span id="post_<%=post.slugs %>_votes"><%= post.total_votes  %></span>
      <%  if post.total_votes.abs <= 1  %>
      vote
      <%  else  %>
      votes
      <%  end  %>
      <br>
    <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
      <i class= "icon-arrow-down"></i>
    <%  end  %>
  </div>
  <div class = "span10 well">
    <div class="span6 pull-left">
    <%= render post.categories  %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description  %></p>
  </div>
  <div class="span3 pull-right">
    <p><span class ="quiet">posted by</span> <%= link_to post.creator.username, user_path(post.creator), class: 'username' %>
      <small>at <%= display_datetime(post.created_at)  %></small></p>
      <span> <%= link_to post_path(post) do %>
        
        <i class="icon-comment"></i>
        <%= post.comments.size %>
        <%  end  %></span>
      </div>
  </div>
  </div>