<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
</ul>
<div class='btn-group nav_item'>
  <%=  link_to "#", class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class='caret'></span>
  <%  end  %>
  <ul class='dropdown-menu'>
    <li><%= link_to 'test', ''  %></li>
    <li><%= link_to 'test', ''  %></li>
  </ul>
</div>

<div class='nav_item'>
  <%=  link_to "New Category", new_category_path, class: 'btn btn-small'  %>
</div>